#python 3.11.4
nimare==0.2.0
cupy-cuda11x
git+https://github.com/amnsbr/nimare-gpu.git@a67c9449752b059ea71bd7cc61709f1c6aee507f
SUITPy==1.3.2
matplotlib<3.7 # this is important for SUITPy flatmap plotting
numpy==1.24 # 1.24 for enigmatoolbox
scipy
pandas
statsmodels
nilearn
nibabel
seaborn
scikit-learn
jupyterlab
openpyxl
neuromaps
imageio
hcp_utils==0.1.0
# for plotting cortex
pyvirtualdisplay==3.0
brainspace==0.1.4
neuromaps

