#python 3.11.4
nimare==0.2.0
cupy-cuda11x
git+https://github.com/amnsbr/nimare-gpu.git@cccff7456dea57fab75f12ab12948e5776c0a985
SUITPy==1.3.2
matplotlib<3.7 # this is important for SUITPy flatmap plotting
numpy
scipy
pandas
statsmodels
nilearn
nibabel
seaborn
scikit-learn
jupyterlab
openpyxl
neuromaps
imageio
hcp_utils==0.1.0